{
    "parserOptions": {
      "ecmaVersion": 2017
  },
  "env": {
      "es6": true
  },
  "rules": {
        "semi": 2,
        "import/no-unresolved": 0,
        "no-console": 0,
        "consistent-return": 0,
        "import/no-extraneous-dependencies": 0,
        "import/extensions": 0,
        "react/forbid-prop-types": 0,
        "react/destructuring-assignment": 0,
        "no-return-assign": 0,
        "no-underscore-dangle": 0
      }
  }